<!DOCTYPE html>
<html class="fullscreen_page sticky_menu">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="img/favico.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple_icons_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple_icons_72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple_icons_114x114.png">
<title>技憶 | </title>
<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:400,300,500,900" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/theme.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/responsive.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/custom.css" type="text/css" media="all" />
<script type="text/javascript" src="js/jquery.min.js"></script>
<style>
.fw_background {
  position: inherit !important;
}
.bg1 {
  background: url(photos/origin_6312717207.jpg);
  background-position: 0 0 !important;
}
.box_date img {
  border-radius: 26px 26px;
}
a {
  color: #000 !important;
}
</style>
</head>
<body>
	<header class="main_header">
        <div class="header_wrapper">
        	<div class="logo_sect">
                <a href="{{ url('index') }}" class="logo"><img src="img/skillme-logo.jpg" alt=""  class="logo_def"><img src="img/retina/logo.png" alt="" class="logo_retina"></a>
                <div class="slogan">記憶&nbsp;&nbsp;傳承&nbsp;&nbsp;自我實現</div>
            </div>                       
            <div class="header_rp">
                <nav>
                    <div class="menu-main-menu-container">
                    	<ul id="menu-main-menu" class="menu">
                        	<li class="current-menu-parent menu-item-has-children">
                            	<a href="#"><span>首頁</span></a>
                          </li>
                        </ul>
                    </div>
                    <div class="search_fadder"></div>
                    <div class="header_search">
                        <form name="search_form" method="get" action="#" class="search_form">
                        	<input type="text" name="s" value="" placeholder="Search the site..." class="field_search">
                        </form> 
                    </div>                
                </nav>            
                <a class="search_toggler" href="#"></a>
			</div>
            <div class="clear"></div>
        </div>
    </header>
    
    <div class="fullscreen_block fw_background bg_image bg1"></div>       

	<div class="content_bg"></div>
    <div class="fullscreen_block">
      <div class="fs_blog_module is_masonry this_is_blog">

          {% for e in event %}
          <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="{{ e.photo }}" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <img width="52" height="52" src="{{ e.avatar }}" />
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">{{ e.location }}</a></span>
                            <span><a href="javascript:void(0)">{{ random(10) }} 回覆</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="#" onclick="return false;">{{ e.title }}</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            {{ e.desc|nl2br }}
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="#" class="shortcode_button btn_small btn_type4 reamdore">我想參與</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>{{ random(1000) }}</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>{{ random(100) }}</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            {% endfor %}
            
            <!--
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Cities</a>, <a href="javascript:void(0)">Stuff</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Nulla quis sem</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Consectetur adipiscing elit. Morbi facilisis, arcu ac eget malesuada malesuada, sodio sem lobortis diam, gravida feugiat a nulla nisl a eros phasellus.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>508</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>28</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="img/blog/fullscreen/2.jpg" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Cities</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Fullwidth Image Post</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Morbi facilisis, arcu ac eget malesuada malesuada sodio. Lobortis diam, gravida feugiat a nulla nisl a eros phasellus consectetur adipiscing elit.
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>1237</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>16</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>

                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Cities</a>, <a href="javascript:void(0)">Nature</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Fusce nec tellus</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Ut accumsan lorem nunc, ut lobortis urna hendrerit et. Sed non erat porta, feugiat mi nec, tincidunt massa maecenas faucibus sollicitudin.
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>186</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>12</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="img/blog/fullscreen/3.jpg" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Stuff</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Vestibulum lacinia arcu</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Maecenas non velit nec nulla commodo faucibus maecenas velit lacus, bibendum vel nec placerat a, scelerisque eu lacus pellentesque sollicitudin.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>157</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>6</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="img/blog/fullscreen/4.jpg" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Advertisement</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Class aptent taciti</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Quisque sem nisl, pretium eu mauris vel, feugiat pulvinar mauris sed laoreet et est eu pellentesquesteres imperdiet aenean auctor diam. 
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>178</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>8</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Nature</a></span>
                            <span><a href="javascript:void(0)">4 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Curabitur sodales ligula</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Donec semper orci eu leo rhoncus, tincidunt aliquam dui cursus quisque sem nisl, eu pellentesquestes mauris vel, feugiat pulvinar.
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>285</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>5</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="img/blog/fullscreen/5.jpg" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Nature</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Sed convallis tristique</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Phasellus ante libero, iaculis vitae ipsum sit amet, ultrices dignissim massa morbi ut ante element consequat libero nec, ornare dui sed vivamus.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>176</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>2</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><iframe src="http://player.vimeo.com/video/61714706" width="100%" height="480" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Advertisement</a></span>
                            <span><a href="javascript:void(0)">4 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Fusce ac turpis</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Amet dolor, ac consectetur adipiscing elit egestas egetfusce lacinia sed purus vel pellentesquesteres nec duis pulvinar, ac vehicula felis, non aliquet.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>618</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>4</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><div id="player5172"></div></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">People</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Quisque volutpat velit</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Amet dolor, ac consectetur adipiscing elit egestas egetfusce lacinia sed purus vel pellentesquesteres molestie nec duis pulvinar vehicula felis non eget.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>103</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>1</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><img class="featured_image_standalone" src="img/blog/fullscreen/6.jpg" alt="" /></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Fashion</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Class aptent taciti</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed purus at molestie nec duis pulvinar, ac vehicula felisnon.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>127</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>2</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><iframe src="http://player.vimeo.com/video/81487125" width="100%" height="476" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">People</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Integer euismod lacus</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia pellentesque at molestie nec duis.
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>64</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>4</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Advertisement</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Vestibulum ante ipsum</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed purus at molestie nec duis pulvinar, ac vehicula felis.  
                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>63</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>3</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"><div id="player4441"></div></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Cities</a>, <a href="javascript:void(0)">Nature</a></span>
                            <span><a href="javascript:void(0)">4 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Curabitur sit amet</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Amet dolor, ac consectetur adipiscing elit egestas egetfusce lacinia sed purus eget pellentesquestes molestie nec duis. Pulvinar, ac vehicula felis, non.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>64</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>3</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>

            <div class="blogpost_preview_fw">
                <div class="fw_preview_wrapper">
                    <div class="pf_output_container"></div>
                    <div class="blogpreview_top">
                        <div class="box_date">
                            <span class="box_month">Mar</span>
                            <span class="box_day">04</span>
                        </div>
                        <div class="listing_meta">
                            <span>in <a href="javascript:void(0)">Fashion</a></span>
                            <span><a href="javascript:void(0)">3 comments</a></span>
                        </div>
                    </div>
                    <h6 class="blogpost_title"><a href="fullwidth_image_post.html">Integer lacinia massa</a></h6>
                    <div class="blogpost_fw_content">
                        <article class="contentarea">
                            Lorem ipsum dolor sit amet dolor, ac consectetur adipiscing elit egetfusce lacinia sed purus at molestie nec duis pulvinar, ac vehicula vivamus.                        </article>
                    </div>
                    <div class="fw_preview_footer">
                        <a href="fullwidth_image_post.html" class="shortcode_button btn_small btn_type4 reamdore">Read More</a>
                        <div class="block_likes">
                            <div class="post-views"><i class="stand_icon icon-eye"></i> <span>69</span></div>
                            <div class="gallery_likes gallery_likes_add ">
                                <i class="stand_icon icon-heart-o"></i>
                                <span>2</span>
                            </div>                                        
                        </div>
                    </div>                        
                </div>
            </div>
            -->
                        
      </div>
  </div>

  <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="js/modules.js"></script>
  <script type="text/javascript" src="js/theme.js"></script>
    <script>
    jQuery(document).ready(function() {
      "use strict";
      jQuery('.fw_background').height(jQuery(window).height());
      jQuery('.main_header').removeClass('hided');
      jQuery('.fullscreen_block').addClass('loaded');
      if (jQuery(window).width() > 1024) {
        if (jQuery('.bg_video').size() > 0) {
          if (((jQuery(window).height()+150)/9)*16 > jQuery(window).width()) {        
            jQuery('iframe').height(jQuery(window).height()+150).width(((jQuery(window).height()+150)/9)*16);
            jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'top' : "-75px", 'margin-top' : '0px'});
          } else {
            jQuery('iframe').width(jQuery(window).width()).height(((jQuery(window).width())/16)*9);
            jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'margin-top' : (-1*jQuery('iframe').height()/2)+'px', 'top' : '50%'});
          }
        }
      } else if (jQuery(window).width() < 760) {
        jQuery('.bg_video').height(jQuery(window).height()-jQuery('.main_header').height());
        jQuery('iframe').height(jQuery(window).height()-jQuery('.main_header').height());
      } else {
        jQuery('.bg_video').height(jQuery(window).height());
        jQuery('iframe').height(jQuery(window).height());       
      }
      jQuery('html').addClass('without_border');
    });
    jQuery(window).resize(function() {
      "use strict";
      jQuery('.fw_background').height(jQuery(window).height());
      if (jQuery(window).width() > 1024 ) {
        if (jQuery('.bg_video').size() > 0) {
          if (((jQuery(window).height()+150)/9)*16 > jQuery(window).width()) {
            jQuery('iframe').height(jQuery(window).height()+150).width(((jQuery(window).height()+150)/9)*16);
            jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'top' : "-75px", 'margin-top' : '0px'});
          } else {
            jQuery('iframe').width(jQuery(window).width()).height(((jQuery(window).width())/16)*9);
            jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'margin-top' : (-1*jQuery('iframe').height()/2)+'px', 'top' : '50%'});
          }
        }
      } else if (jQuery(window).width() < 760) {
        jQuery('.bg_video').height(jQuery(window).height()-jQuery('.main_header').height());
        jQuery('iframe').height(jQuery(window).height()-jQuery('.main_header').height());
      } else {
        jQuery('.bg_video').height(jQuery(window).height());
        jQuery('iframe').height(jQuery(window).height());       
      }
    });
  </script>

    <script>
        jQuery(window).resize(function () {
      "use strict";
      jQuery('.is_masonry').masonry();
        });
    jQuery(document).ready(function($){
      "use strict";
      jQuery('.is_masonry').masonry();
      setTimeout("jQuery('.is_masonry').masonry();",1000);
      setTimeout("jQuery('.is_masonry').masonry();",2000);      
      jQuery('.pf_output_container').each(function(){
        if (jQuery(this).html() == '') {
          jQuery(this).parents('.fw_preview_wrapper').addClass('no_pf');
        } else {
          jQuery(this).parents('.fw_preview_wrapper').addClass('has_pf');
        }
      });           
    });
    </script>
    <script>
        var tag = document.createElement('script');
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onPlayerReady(event) {}
        function onPlayerStateChange(event) {}
        function stopVideo() {
            player.stopVideo();
        }
        function onYouTubeIframeAPIReady() {
      "use strict";
      
            new YT.Player('player5172', {
                height: '476',
                width: '100%',
                playerVars: { 'autoplay': 0, 'controls': 1 },
                videoId: 'p4hIzgqA9io',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
            
            new YT.Player('player4441', {
                height: '677',
                width: '100%',
                playerVars: { 'autoplay': 0, 'controls': 1 },
                videoId: 'aPUgeS4G1Hc',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
      }
  </script>
</body>
</html>