{% extends "layout.html" %}

{% set page = 'index' %}


{% block content %}
    <br />
    <br />

    <h3>關於我們</h3>

    <div class="row">
    <div class="span3 module_number_2 module_cont pb20 module_iconboxes">
      <div class="module_content shortcode_iconbox">                                                                            
      <div class="iconbox_wrapper">
        <span class="ico"><i class="icon-thumb-tack"></i></span>
        <h4 class="iconbox_title">記憶 &amp; 技藝</h4>
        <div class="iconbox_body">
        <p>累積了一輩子的年歲，長輩身上總有許多驚人的技藝，說也說不完的回憶。快來透過{{ company }}，一同尋找長輩的昔日風光。</p>
        <br />
        <a href="{{ url('index') }}#list" class="hasIcon shortcode_button btn_small btn_type10">瀏覽</a>
        </div>          
      </div>                                                                
      </div>
    </div><!-- .module_cont -->
    <div class="span3 module_number_3 module_cont pb20 module_iconboxes">
      <div class="module_content shortcode_iconbox">                                                                            
      <div class="iconbox_wrapper">
        <span class="ico"><i class=icon-users></i></span>
        <h4 class="iconbox_title">傳承</h4>
        <div class="iconbox_body">            
        <p>時代文化與獨門絕活，都消逝在口耳相傳的世代交替之中。{{ company }}協助您保存有價值的文化與歷史，傳承後世。</p>
        <br />
        <a href="{{ url('record') }}" class="hasIcon shortcode_button btn_small btn_type3">拍攝 / 紀錄</a>
        </div>
      </div>                                                                
      </div>
    </div><!-- .module_cont -->
    <div class="span3 module_number_4 module_cont pb20 module_iconboxes">
      <div class="module_content shortcode_iconbox">                                                                            
      <div class="iconbox_wrapper">
        <span class="ico"><i class=icon-send></i></span>
        <h4 class="iconbox_title">自我實現</h4>
        <div class="iconbox_body">            
        <p>長輩退休後足不出戶，關閉了所有社交？讓{{ company }}與您一同打開長輩的心靈之門，經由交流進而活出自我。</p>
        <br />
        <a href="{{ url('howto') }}" class="hasIcon shortcode_button btn_small btn_type3">如何開始？</a>
        </div>
      </div>                                                                
      </div>
    </div><!-- .module_cont -->
    <div class="span3 module_number_5 module_cont pb30 module_iconboxes">
      <div class="module_content shortcode_iconbox">                                                                            
      <div class="iconbox_wrapper">
        <span class="ico"><i class=icon-envelope></i></span>
        <h4 class="iconbox_title">更多提案</h4>
        <div class="iconbox_body">            
        <p>{{ company }}非常歡迎您提出任何想法，來協助長輩交流或共紀錄造歷史洪流的軌跡。</p>
        <br />
        <br />
        <a href="mailto:silverskill2014@gmail.com" class="hasIcon shortcode_button btn_small btn_type3">聯繫我們</a>
        </div>          
      </div>                                                                
      </div>
    </div><!-- .module_cont -->                                                    
    </div>

    <br />
    <br />

    <h3 id="list">記憶 &amp; 技藝</h3>
    
    <div class="fs_blog_module is_masonry this_is_blog">

      {% for e in event %}
      <div class="blogpost_preview_fw">
        <div class="fw_preview_wrapper">
          <div class="pf_output_container"><img class="featured_image_standalone" src="{{ e.photo }}" alt="" /></div>
          <div class="blogpreview_top">
            <div class="box_date">
              <img width="52" height="52" src="{{ e.avatar }}" />
            </div>
            <div class="listing_meta">
              <span>in <a href="javascript:void(0)">{{ e.location }}</a></span>
              <span><a href="javascript:void(0)">{{ random(10) }} 回覆</a></span>
            </div>
          </div>
          <h6 class="blogpost_title"><a href="#" onclick="return false;">{{ e.title }}</a></h6>
          <div class="blogpost_fw_content">
            <article class="contentarea">
              {{ e.desc|nl2br }}
            </article>
          </div>
          <div class="fw_preview_footer">
            <a href="#join-event-{{ e.id }}" rel="prettyPhoto" class="shortcode_button btn_small btn_type4 reamdore">我想參與</a>
            <div class="block_likes">
              <div class="post-views"><i class="stand_icon icon-eye"></i> <span>{{ random(1000) }}</span></div>
              <div class="gallery_likes gallery_likes_add ">
                <i class="stand_icon icon-heart-o"></i>
                <span>{{ random(100) }}</span>
              </div>
            </div>
          </div>

          <div id="join-event-{{ e.id }}" class="join-wrapper">
            <div class="join-block">
              <h4>我想參與 - {{ e.title }} 相關活動</h4>
              <form method="post" action="{{ url('POST:request', {id: e.id}) }}" id="mc_signup_form" class="request mc_signup_form">
                  <div id="mc_subheader">請留下您的聯繫資料，我們會協助您與長輩聯繫：
                    <input type="text" size="18" placeholder="Email 信箱 或 聯絡電話" name="email" id="email" class="mc_input email"/>
                    <input type="text" size="18" placeholder="我方便的時間 (平日 / 假日)" name="date" id="date" class="mc_input date"/>
                    <textarea class="mc_input question" placeholder="我想向長輩提出的詢問 (Optional)"></textarea>
                    <div class="mc_signup_submit">
                        <input type="button" value="取消" class="button btn_type4 pp_close"  onclick="$.prettyPhoto.close();"/>
                        <input type="submit" name="mc_signup_submit" id="mc_signup_submit" value="送出" class="button"/>
                    </div><!-- /mc_signup_submit -->                                            
                  </div><!-- /mc_form_inside -->
              </form>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}

    </div>

  <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
  <script type="text/javascript" src="js/modules.js"></script>
  <script type="text/javascript" src="js/theme.js"></script>
  <script>
  $(function () {

    /*
    $('.reamdore').click (function () {

      $(this).parent ().next ().slideDown ();

      setTimeout("jQuery('.is_masonry').masonry();",400);

      return false;

    });
    */

    $('body').on('submit', 'form.request', function () {

      var email = $(this).find ('.email')
        , date = $(this).find ('.date')
        , question = $(this).find ('.question')
        , form  = $(this);

      if (email.val () == '')
        alert ('請輸入 Email 信箱或聯絡電話');

      else {

        $.post ($(this).attr ('action'), {
            name:     '_',
            email:    email.val (),
            date:     date.val (),
            question: question.val ()
          }, function (resp) {

          $.prettyPhoto.close();

          //setTimeout("jQuery('.is_masonry').masonry();",400);

          setTimeout (function () {

            alert ('謝謝您的參與和關懷。');

          }, 500);

        });
      }

      return false;

    });
  })
  jQuery(document).ready(function() {
    "use strict";
    jQuery('.fw_background').height(jQuery(window).height());
    jQuery('.main_header').removeClass('hided');
    jQuery('.fullscreen_block').addClass('loaded');
    if (jQuery(window).width() > 1024) {
    if (jQuery('.bg_video').size() > 0) {
      if (((jQuery(window).height()+150)/9)*16 > jQuery(window).width()) {        
      jQuery('iframe').height(jQuery(window).height()+150).width(((jQuery(window).height()+150)/9)*16);
      jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'top' : "-75px", 'margin-top' : '0px'});
      } else {
      jQuery('iframe').width(jQuery(window).width()).height(((jQuery(window).width())/16)*9);
      jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'margin-top' : (-1*jQuery('iframe').height()/2)+'px', 'top' : '50%'});
      }
    }
    } else if (jQuery(window).width() < 760) {
    jQuery('.bg_video').height(jQuery(window).height()-jQuery('.main_header').height());
    jQuery('iframe').height(jQuery(window).height()-jQuery('.main_header').height());
    } else {
    jQuery('.bg_video').height(jQuery(window).height());
    jQuery('iframe').height(jQuery(window).height());       
    }
    jQuery('html').addClass('without_border');
  });
  jQuery(window).resize(function() {
    "use strict";
    jQuery('.fw_background').height(jQuery(window).height());
    if (jQuery(window).width() > 1024 ) {
    if (jQuery('.bg_video').size() > 0) {
      if (((jQuery(window).height()+150)/9)*16 > jQuery(window).width()) {
      jQuery('iframe').height(jQuery(window).height()+150).width(((jQuery(window).height()+150)/9)*16);
      jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'top' : "-75px", 'margin-top' : '0px'});
      } else {
      jQuery('iframe').width(jQuery(window).width()).height(((jQuery(window).width())/16)*9);
      jQuery('iframe').css({'margin-left' : (-1*jQuery('iframe').width()/2)+'px', 'margin-top' : (-1*jQuery('iframe').height()/2)+'px', 'top' : '50%'});
      }
    }
    } else if (jQuery(window).width() < 760) {
    jQuery('.bg_video').height(jQuery(window).height()-jQuery('.main_header').height());
    jQuery('iframe').height(jQuery(window).height()-jQuery('.main_header').height());
    } else {
    jQuery('.bg_video').height(jQuery(window).height());
    jQuery('iframe').height(jQuery(window).height());       
    }
  });
  </script>

  <script>
    jQuery(window).resize(function () {
    "use strict";
    jQuery('.is_masonry').masonry();
    });
  jQuery(document).ready(function($){
    "use strict";
    jQuery('.is_masonry').masonry();
    setTimeout("jQuery('.is_masonry').masonry();",1000);
    setTimeout("jQuery('.is_masonry').masonry();",2000);      
    jQuery('.pf_output_container').each(function(){
    if (jQuery(this).html() == '') {
      jQuery(this).parents('.fw_preview_wrapper').addClass('no_pf');
    } else {
      jQuery(this).parents('.fw_preview_wrapper').addClass('has_pf');
    }
    });           
  });
  </script>
  <script>
    var tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onPlayerReady(event) {}
    function onPlayerStateChange(event) {}
    function stopVideo() {
      player.stopVideo();
    }
    function onYouTubeIframeAPIReady() {
    "use strict";
    
      new YT.Player('player5172', {
        height: '476',
        width: '100%',
        playerVars: { 'autoplay': 0, 'controls': 1 },
        videoId: 'p4hIzgqA9io',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
      
      new YT.Player('player4441', {
        height: '677',
        width: '100%',
        playerVars: { 'autoplay': 0, 'controls': 1 },
        videoId: 'aPUgeS4G1Hc',
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }
  </script>
{% endblock content %}